
h1{
    color: black;
    margin : 18px 0px 25px 360px;
}

body{
    margin-left:120px;
}
.query{
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
}

.sol{
    font-weight: 900;
    font-size: 1.1rem;
    color: black;  
}

span{
    color: black;
    font-weight: bold;
}